{% extends 'base.html.twig' %}

{% block header %}
    {% include 'includes/header.html.twig' %}
{% endblock %}

{% block body %}

    <h1 align="center">Votre compte est activé !
        vous allez être redirigé dans 3 secondes ...</h1>


{% endblock %}

{% block javascripts %}
    <script>
        function redirect() {
            self.location.href = "{{ path('security_login') }}"
        }

        setTimeout(redirect, 3000)
    </script>

{% endblock %}

{% block footer %}
{% endblock %}