{% extends 'base.html.twig' %}

{% block header %}
    {% include 'includes/header.html.twig' %}
{% endblock %}

{% block body %}

    <h1>Votre compte est activer !
        vous allez etre redirigée dans 3 seconde ...</h1>


{% endblock %}

{% block javascripts %}
    <script>
        function redirect() {
            self.location.href = "{{ path('security_login') }}"
        }

        setTimeout(redirect, 3000)
    </script>

{% endblock %}