{% extends 'base.html.twig' %}



{% block body %}

    <div id="header" class="content-block">

        <section class="center">
            <div class="slogan">
                SNOWTRICKS
            </div>
            <div class="secondary-slogan">
                Communauté de Snowboarder.
            </div>
        </section>
    </div><!-- header -->

    <div class="content-block" id="blog">
        <div class="container blog-sec">
            <header class="block-heading cleafix">
                <a href="{{ path('trick_add') }}" class="btn btn-o btn-lg pull-right">Ajoutez une figure !</a>
                <div class="title-page">
                    <p class="main-header">Toutes les figures</p>
                    <p class="sub-header">Keep up with the latest happenings.</p>
                </div>
            </header>

            <section class="block-body">

                <div class="row">
                {% for trick in tricks %}
                    <div class="col-sm-3 blog-post">
                        <img src="{{ asset('assets/images/header-bg.jpg') }}">
                        <a href="{{ path('tricks_show', {'id': trick.id}) }}"><h2>{{ trick.title }}</h2> </a>

                    </div>
                    {% endfor %}
                    </div>

            </section>
        </div>
    </div>
{% endblock %}