{% block _appbundle_edit_images_entry_row %}
    <div class="form-group">
        {% if form.vars.value %}
            <img src="{{ asset(form.vars.value.webPath) }}" alt="" class="preview">
        {% endif %}
        {{ form_widget(form) }}
    </div>

{% endblock %}

{% block _appbundle_trick_images_entry_row %}
    <div class="form-group
">
        {% if form.vars.value %}
            <img src="{{ asset(form.vars.value.webPath) }}" alt="" class="preview">
        {% endif %}
        {{ form_widget(form) }}
    </div>

{% endblock %}